body{
  font-family:"Helvetica Neue",Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  background:#ebebeb;
  color:#444;
}
li {
  list-style-type:none;
}
img {
  max-width:100%;
  height:auto;
}
a:link{
  color:#000000;
  text-decoration:none;
}
a:visited{
  color:#000000;
  text-decoration:none;
}
a:hover{
  color:#FF4500;
  text-decoration:underline;
}
.link-white a{
  text-decoration: none;
  color: #FFF;
}
span.index-span{
  font-size: 12px;
}
table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}
table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}
table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    background: rgba(158,188,226,0.2); /*背景色*/
}
table th {
    white-space: nowrap; /*表头内容强制在一行显示*/
}
table td:nth-child(1) {
    white-space: nowrap; 
}
table tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12); 
}
table tr:hover {
    background: #efefef; 
}
.table-area {
    overflow: auto;
}
.nav-hover:hover{
    border-bottom: 2px solid #168a8e;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #fffcfc;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #040404;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #040404;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #040404;
  background-color: #fffcfc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #040404;
  background-color: #fffcfc;
}
.navbar-default .navbar-toggle {
  border-color: #fffcfc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fffcfc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #040404;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #040404;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #040404;
    background-color: #fffcfc;
  }
}
.blog-headercolor{
  background-color:#ab0707;
}
.blog-line{
  font-size:18px;
  border-bottom: 2px solid #660000;
  padding:20px 20px;
}
#hr-sidebar{
  margin: 5px; padding: 5px;
}
.blog-background{   
    border:none ;
    padding:20px; 
    background:#FFF; color:#000;
}
.tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.tag-cloud a:hover {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
  text-decoration: none;
}
.text-title{
  font-size: 1.375em;color: #444444;
}
.badge {
  box-sizing: border-box;min-width: 24px;height: 24px;line-height: 24px;padding: 0 20px;vertical-align: middle;color: #fff;font-size: 0.875rem;display: -ms-inline-flexbox;display: -webkit-inline-flex;display: inline-flex;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
}
.bg-blue{
  background-color: #25b7d3;
  border-radius: 2px;
}
.blog-timg img{
  width:200px;
  margin-top:5px;
  margin-right:10px;
}
.post-content p{ 
  text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/ 
}

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.blog-footer{
  padding-top:50px;
  padding-bottom:50px;
  margin-top:100px;
  color:#99979c;
  text-align:center;
  background-color:#2a2730
}
.blog-footer a{
  color:#fff
}
.blog-footer-links{
  padding-left:0;
  margin-bottom:20px
}
.blog-footer-links li{
  display:inline-block
}
.blog-footer-links li+li{
  margin-left:15px
}
@media (min-width:768px){
  .blog-footer{
    text-align:left
  }
  .blog-footer p{
    margin-bottom:0
    }
  }

#comments {
  padding: 1.5em 1.5em 2em;
  margin: 15px auto;
}

#comments .page-navigator {
  margin: 1rem 0 0
}

#comments a {
  color: #aaa
}

#comments a:hover {
  color: #00868B
}

.comment-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0
}

.avatar {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 1.4rem 1rem 0 0;
  border-radius: 50%
}

.comment-num {
  color: #999;
  font-weight: 400;
}

.comment-main {
  overflow: hidden;
  padding: 1rem 0;
  border-bottom: 1px #e0e0e0
}

.comment-main p {
  margin: 0
}

.comment-meta,.cancel-comment-reply {
  margin-top: 1rem;
  color: #aaa
}

.comment-meta .comment-reply {
  float: right
}

.comment-reply {
  float: right;
  display: none
}

.comment-main:hover .comment-reply {
  display: block
}

.comment-author {
  padding: .1rem .25rem;
  border-radius: .25rem;
  background: #eee;
}

.comment-author:hover,.comment-author:hover a,.comment-author a:hover {
  color: #00868B !important;
  background: rgba(0,134,139,0.1)
}

.comment-time:before,.comment-reply a:before {
  margin: 0 .5rem
}

.comment-parent>.comment-children {
  margin-left: 1rem;
  padding-left: 40px
}
#yiyan{
       border-left: 5px solid #0073d8;
       border-right: 5px solid #0073d8;
       background-color: #3288d31a;
       padding: 10px;text-align: center;
       color: #0073d8;
       margin: 5px 0 5px 0; 
}